.App{
    height:100vh;
}

form{
    display: flex;
    flex-direction: column;
}

.SearchField{
    margin-bottom: 20px !important;
}

.SearchButton{
    margin-bottom: 20px !important;
}

.TitleBar{
    margin-right: auto !important;
    margin-left: auto !important;
}